.card .card-body .row {
    position: relative;
}

.card .qr-code {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--text-muted);;
    border-radius: 5px;
    padding: 10px;
    right: calc(var(--bs-gutter-x) * 0.5);
    width: 100px;
    height: 100px;
}

.delete-image {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.delete-image:hover {
    color: darkred;
}

.text-hover-primary:hover {
    color: #007bff; /* Цвет текста при наведении */
}

@media (max-width: 1200px) {
    .py-0 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .card .qr-code {
        display: block;
    }
}