.card .card-body .row {
    position: relative;
}

.card .qr-code {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--text-muted);;
    border-radius: 5px;
    padding: 10px;
    right: calc(var(--bs-gutter-x) * 0.5);
    width: 100px;
    height: 100px;
}

@media (min-width: 1200px) {
    .card .qr-code {
        display: block;
    }
}