.app-sidebar .side-menu__icon {
    line-height: normal !important;
    font-size: 1.2rem;
}

.card {
    margin-block-end: 0rem;
}

.card.custom-card {
    margin-block-end: 0rem;
}

.table-row-sm {
    width: 42px !important;
}

@media (max-width: 767px) {
    .main-signup-header {
        padding: 0;
        border: none;
    }
    div.card-sigin {
        padding: 2rem;
    }
}