.app-sidebar .side-menu__icon {
    line-height: normal !important;
    font-size: 1.2rem;
}

.card {
    margin-block-end: 0rem;
}

.card.custom-card {
    margin-block-end: 0rem;
}

.table-row-sm {
    width: 42px !important;
}

.status-badge {
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.arrow-button:hover {
    transform: scale(1.2);
}

.arrow-button svg {
    width: 20px;
    height: 20px;
    color: #007bff; /* Цвет стрелок */
}

.arrow-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 767px) {
    .main-signup-header {
        padding: 0;
        border: none;
    }
    div.card-sigin {
        padding: 2rem;
    }
}